html{
  font-size: 62.5;    /* 16px x 62.5 = 10px = 1rem  */
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}
/*layout */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.spantitle{
  color: #060061;
}

header{
  grid-area: header;
  background-color: #e08c2b;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
}
/*common section*/
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}
a{
  text-decoration: none;
}
a:hover{
  color: rgb(35, 0, 161);
}
/*header*/
header a /*all links in header*/{
  color: white;
  padding: 1rem;
}
a.brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}


/* for all images*/
/*image size 680 x 830 */
img{
  border-radius: 0.5rem;
}
img.medium{
  max-width: 16rem;
  width: 100%;
}
/* border of card*/
.card{
  border: 0.1rem #a85c14 solid;
  background-color: #e0dbd5;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body{
  padding: 1rem;
}
.card-body > * /*for all elements in card body or all direct child of card body*/{
margin-bottom: 0.5rem;
}
.price{
  font-size: 2rem;
}
/*rating section*/
.card span{
  color: #f0c040;
  margin: 0.1rem;

}